.landing {
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  padding: 420px;
  text-align: center;
  color: white;
}
.about {
  text-align: center;
  margin-top: -20%;
}


.services {
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 70px;
  color: white;
}

.what {
  text-align: center;
  padding: 3%

}
.portfolio1 {
  text-align: center;
  margin: 1.5%;
}
.portfolio2 {
  text-align: center;
  margin: 1.5%;
}
.contact {
  text-align: center;
}